<style>
.ylabaari {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.ylabaari  {
  float: left;
}

li a {

  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */

</style>
<body>
  <div class="">
    <ul class="ylabaari">
      <li class="ylabaari"><a href="/lisaalasku">Lis채채 lasku</a> <br></li>
      <li class="ylabaari"><a href="#">Muokkaa laskua</a> <br></li>
      <li class="ylabaari"><a href="#">L채het채 lasku</a> <br></li>
      <li class="ylabaari"><a href="#">Poista lasku</a> <br></li>
      <li class="ylabaari"><a href="#">Tee karhulasku</a> <br></li>
    </ul>
  </div>
  <div class="">
    {{#each laskut}}
    <ul>
      <h4>Lasku{{@index}}</h2>
      <li>{{this.laskuid}}</li>
      <li>{{this.lahetyspvm}}</li>
      <li>{{this.erapvm}}</li>
      <li>{{this.tila}}</li>
      <li>{{this.viitenro}}</li>
      <li>{{this.viivastysmaksu}}</li>
    </ul>
    {{/each}}
  </div>
</body>
