<style>
.ylabaari {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.ylabaari  {
  float: left;
}

li a {

  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.laskulista {
  float : left;
  width 25%;
  margin-right: 10%;
}
.center {
  float : left;
  width: 25% ;
}
/* Change the link color to #111 (black) on hover */

</style>
<body>
  <div class="">
    <ul class="ylabaari">
      <li class="ylabaari"><a href="/">Etusivu</a> <br></li>
      <li class="ylabaari"><a href="/lisaalasku">Lisää lasku</a> <br></li>
      <li class="ylabaari"><a href="#">Muokkaa laskua</a> <br></li>
      <li class="ylabaari"><a href="#">Lähetä lasku</a> <br></li>
      <li class="ylabaari"><a href="/poistalasku">Poista lasku</a> <br></li>
      <li class="ylabaari"><a href="#">Tee karhulasku</a> <br></li>
    </ul>
  </div>
  <div class="hakuformi">
    <form class="" action="laskutus" method="post">
      <label for="laskunnumero">Laskun numero</label>
      <input type="number" name="laskunumero" value="" id ="laskunumero">

      <button type="submit" name="button">Hae</button>
    </form>
    <form class="" action="laskutus" method="post">
      <label for="laskunnumero">Mainostajan nimi</label>
      <input type="text" name="mainostaja" value="" id ="mainostaja">
      <button type="submit" name="button">Hae</button>
    </form>
    <form class="" action="laskutus" method="post">
      <input type="hidden" name="laskunumero" value="all" >
      <button type="submit" name="button">Näytä kaikki</button>
    </form>
    </div>

    <div class="laskulista">

      <h1>Laskulista:</h1>
      {{#if laskut}}
      {{#each laskut}}
      <ul>
          <li>laskun numero: {{this.laskuid}}</li>
          <li>mainostaja: {{this.mainostaja}}</li>
          <form class="" action="laskutus" method="post">
            <input type="hidden" name="laskunumero" value="{{this.laskuid}}">
            <button type="submit" name="button">Valitse aktiiviseksi</button>
          </form>

      </ul>
      {{/each}}

      {{else}}
      <p>Ei mainoskampanjoita tällä nimellä</p>
      {{/if}}
    </div>

    <div class="center">
      <h1>Aktiivinen lasku:</h1>
      {{#each lasku}}
      <ul>
          <li>laskun numero: {{this.laskuid}}</li>
          <li>eräpäivä: {{this.erapvm}}</li>
          <li>tila: {{this.tila}}</li>
          <li>viitenumero: {{this.viitenro}}</li>
          <li>viivastysmaksu: {{this.viivastysmaksu}}</li>
          <li>mainostaja: {{this.mainostaja}}</li>
          <li>vastaanottaja: {{this.tilaaja}}</li>
          <li>laskutusosoite: {{this.laskutusosoiteid}}</li>
          <li>mainoskampanja: {{this.mainoskampanja}}</li>
          <li>Laskutusosoite: {{this.osoite}}, {{this.postinumero}}, {{this.maa}}</li>
          <button type="button" name="button1"> <a href="/muokkaalasku/{{this.laskuid}}">MUOKKAA TÄÄ!</a></button><br>
          <button type="button" name="button2"> <a href="/poistalasku/{{this.laskuid}}">POISTA TÄÄ!</a></button><br>
          <button type="button" name="button3"> <a href="/lahetalasku/{{this.laskuid}}">LÄHETÄ TÄÄ!</a></button> <br>
          <button type="button" name="button4"> <a href="/lisaakarhulasku/{{this.laskuid}}">TEE KARHULASKU TÄÄ!</a></button>

      </ul>
      {{/each}}
    </div>

  </div>
</body>
