<style>
.ylabaari {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.ylabaari  {
  float: left;
}

li a {

  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.laskulista {
  float : left;
  width 25%;
  margin-right: 10%;
}
.center {
  float : left;
  width: 25% ;
}
/* Change the link color to #111 (black) on hover */

</style>
  <div class="">
    <ul class="ylabaari">
      <li class="ylabaari"><a href="/">Etusivu</a> <br></li>
      <li class="ylabaari"><a href="/lisaalasku">Lisää lasku</a> <br></li>
      <li class="ylabaari"><a href="#">Muokkaa laskua</a> <br></li>
      <li class="ylabaari"><a href="#">Lähetä lasku</a> <br></li>
      <li class="ylabaari"><a href="/poistalasku">Poista lasku</a> <br></li>
      <li class="ylabaari"><a href="#">Tee karhulasku</a> <br></li>
    </ul>
  </div>
<div class="">
  {{#each lasku}}
  <form class="" action="muokkaalasku" method="post">
     <label for="lahetyspvm">Lähetyspäivämäärä</label><input type="date" name="lahetyspvm"  required><label for="">Alkuperäinen: {{this.lahetyspvm}}</label> <br>
     <label for="eraPvm ">Eräpäivämäärä</label><input type="date" name="eraPvm" value="{{this.erapvm}}" required><label for="">Alkuperäinen: {{this.erapvm}}</label><br>
     <label for="tila">Maksettu:</label> <select name="tila" type="text" required>
                          <option value="true">true</option>
                          <option value="false">false</option>
      </select><br>
     <label for="viitenro ">Viitenumero</label><input type="text" name="viitenro" value="{{this.viitenro}}" required><br>
     <label for="viivastysmaksu">Viivästysmaksu:</label><input type="number" name="viivastysmaksu" value="{{this.viivastysmaksu}}" ><br>
     <button type="'submit'" name="button">Submit</button>
  </form>
  {{/each}}
</div>
